@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --background: #161B22;
  --inBackround: #0D1117;
  --blue: #6EC2CB;
  --text-color: #CFCFCF;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-color: var(--background);
}

@media(max-width: 425px) {
  html {
    font-size: 50%;
  }
}